/**
* @name Hide-GiftIcon
* @author xxx
* @description Hides the annoying gift nitro icon
* @version 1.0.0
* @source https://github.com/potnet/betterdiscord-css
*/


:root {
  [aria-label="Send a gift or Boost this server"] {
    display: none;
  }
}
